.check-out {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.check-out .div {
  background-color: var(--bg);
  width: 1440px;
  height: 1795px;
  position: relative;
}

.check-out .top-header {
  position: absolute;
  width: 1440px;
  height: 48px;
  top: 0;
  left: 0;
  background-color: var(--button);
}

.check-out .frame {
  display: inline-flex;
  align-items: flex-start;
  gap: 231px;
  position: relative;
  top: 12px;
  left: 445px;
}

.check-out .frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.check-out .text-wrapper {
  width: 474px;
  height: 18px;
  color: var(--text);
  font-size: var(--title-14px-regular-font-size);
  line-height: var(--title-14px-regular-line-height);
  position: relative;
  font-family: var(--title-14px-regular-font-family);
  font-weight: var(--title-14px-regular-font-weight);
  letter-spacing: var(--title-14px-regular-letter-spacing);
  white-space: nowrap;
  font-style: var(--title-14px-regular-font-style);
}

.check-out .text-wrapper-2 {
  margin-top: -1.00px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  text-decoration: underline;
  position: relative;
  width: fit-content;
  color: var(--text);
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.check-out .frame-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  flex: 0 0 auto;
}

.check-out .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: var(--title-14px-regular-font-family);
  font-weight: var(--title-14px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-14px-regular-font-size);
  letter-spacing: var(--title-14px-regular-letter-spacing);
  line-height: var(--title-14px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-14px-regular-font-style);
}

.check-out .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.check-out .header {
  display: inline-flex;
  align-items: center;
  gap: 130px;
  position: absolute;
  top: 88px;
  left: 135px;
}

.check-out .frame-4 {
  display: inline-flex;
  align-items: flex-start;
  gap: 160px;
  position: relative;
  flex: 0 0 auto;
}

.check-out .logo {
  position: relative;
  width: 118px;
  height: 24px;
}

.check-out .text-wrapper-4 {
  color: var(--text-2);
  position: absolute;
  top: -1px;
  left: 0;
  font-family: var(--heading-24px-bold-font-family);
  font-weight: var(--heading-24px-bold-font-weight);
  font-size: var(--heading-24px-bold-font-size);
  letter-spacing: var(--heading-24px-bold-letter-spacing);
  line-height: var(--heading-24px-bold-line-height);
  white-space: nowrap;
  font-style: var(--heading-24px-bold-font-style);
}

.check-out .frame-5 {
  display: inline-flex;
  align-items: flex-start;
  gap: 48px;
  position: relative;
  flex: 0 0 auto;
}

.check-out .div-wrapper {
  position: relative;
  width: 48px;
  height: 24px;
}

.check-out .text-wrapper-5 {
  position: absolute;
  top: -1px;
  left: 0;
  color: var(--text-2);
  text-align: center;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.check-out .header-2 {
  position: relative;
  width: 66px;
  height: 24px;
}

.check-out .header-3 {
  position: relative;
  width: 61px;
  height: 24px;
}

.check-out .frame-6 {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.check-out .search-component-set {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px 12px 7px 20px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--secondary);
  border-radius: 4px;
}

.check-out .frame-7 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  position: relative;
  flex: 0 0 auto;
}

.check-out .p {
  position: relative;
  width: fit-content;
  opacity: 0.5;
  font-family: var(--title-12px-regular-font-family);
  font-weight: var(--title-12px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-12px-regular-font-size);
  letter-spacing: var(--title-12px-regular-letter-spacing);
  line-height: var(--title-12px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-12px-regular-font-style);
}

.check-out .frame-8 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.check-out .wishlist {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
}

.check-out .overlap {
  position: relative;
  width: 29px;
  height: 26px;
  left: 5px;
}

.check-out .vector {
  position: absolute;
  width: 22px;
  height: 20px;
  top: 6px;
  left: 0;
}

.check-out .group {
  position: absolute;
  width: 18px;
  height: 17px;
  top: 0;
  left: 11px;
}

.check-out .overlap-group {
  position: relative;
  width: 16px;
  height: 17px;
}

.check-out .ellipse {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 1px;
  left: 0;
  background-color: var(--secondary-2);
  border-radius: 8px;
}

.check-out .text-wrapper-6 {
  left: 4px;
  position: absolute;
  width: 7px;
  top: 0;
  font-family: var(--title-12px-regular-font-family);
  font-weight: var(--title-12px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-12px-regular-font-size);
  text-align: center;
  letter-spacing: var(--title-12px-regular-letter-spacing);
  line-height: var(--title-12px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-12px-regular-font-style);
}

.check-out .with-buy {
  position: relative;
  width: 32px;
  height: 32px;
}

.check-out .overlap-2 {
  position: relative;
  height: 31px;
  top: 1px;
  left: 1px;
}

.check-out .cart {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 7px;
  left: 0;
}

.check-out .overlap-group-wrapper {
  position: absolute;
  width: 18px;
  height: 17px;
  top: 0;
  left: 14px;
}

.check-out .text-wrapper-7 {
  left: 5px;
  position: absolute;
  width: 7px;
  top: 0;
  font-family: var(--title-12px-regular-font-family);
  font-weight: var(--title-12px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-12px-regular-font-size);
  text-align: center;
  letter-spacing: var(--title-12px-regular-letter-spacing);
  line-height: var(--title-12px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-12px-regular-font-style);
}

.check-out .line {
  position: absolute;
  width: 1440px;
  height: 1px;
  top: 142px;
  left: 0;
  background-image: url(./img/line-3.svg);
  background-size: 100% 100%;
}

.check-out .navbar {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 222px;
  left: 135px;
}

.check-out .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  opacity: 0.5;
  font-family: var(--title-14px-regular-font-family);
  font-weight: var(--title-14px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-14px-regular-font-size);
  letter-spacing: var(--title-14px-regular-letter-spacing);
  line-height: var(--title-14px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-14px-regular-font-style);
}

.check-out .line-2 {
  position: relative;
  width: 6.89px;
  height: 12.2px;
  object-fit: cover;
}

.check-out .nothing {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-14px-regular-font-family);
  font-weight: var(--title-14px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-14px-regular-font-size);
  letter-spacing: var(--title-14px-regular-letter-spacing);
  line-height: var(--title-14px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-14px-regular-font-style);
}

.check-out .frame-9 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 323px;
  left: 135px;
}

.check-out .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--heading-36px-medium-font-family);
  font-weight: var(--heading-36px-medium-font-weight);
  color: var(--text-2);
  font-size: var(--heading-36px-medium-font-size);
  letter-spacing: var(--heading-36px-medium-letter-spacing);
  line-height: var(--heading-36px-medium-line-height);
  white-space: nowrap;
  font-style: var(--heading-36px-medium-font-style);
}

.check-out .frame-10 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 401px;
  left: 135px;
}

.check-out .frame-11 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.check-out .frame-12 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.check-out .div-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  opacity: 0.4;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: transparent;
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.check-out .span {
  color: #000000;
  font-family: var(--title-16px-regular-font-family);
  font-style: var(--title-16px-regular-font-style);
  font-weight: var(--title-16px-regular-font-weight);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  font-size: var(--title-16px-regular-font-size);
}

.check-out .text-wrapper-10 {
  color: #db4444;
  font-family: var(--title-16px-regular-font-family);
  font-style: var(--title-16px-regular-font-style);
  font-weight: var(--title-16px-regular-font-weight);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  font-size: var(--title-16px-regular-font-size);
}

.check-out .frame-13 {
  position: relative;
  width: 470px;
  height: 50px;
  background-color: var(--secondary);
  border-radius: 4px;
}

.check-out .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  opacity: 0.4;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.check-out .frame-14 {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.check-out .text-wrapper-12 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: #000000;
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.check-out .footer {
  position: absolute;
  width: 1440px;
  height: 440px;
  top: 1355px;
  left: 0;
  background-color: var(--button);
}

.check-out .frame-15 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 376px;
  left: 0;
  opacity: 0.4;
}

.check-out .under-line {
  position: relative;
  width: 1440px;
  height: 1px;
  margin-top: -1.00px;
  opacity: 0.5;
  background-image: url(./img/line-1.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.check-out .frame-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
  opacity: 0.6;
}

.check-out .frame-16 {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.check-out .icon-copyright {
  position: relative;
  width: 20px;
  height: 20px;
}

.check-out .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--primary);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.check-out .frame-17 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  gap: 87px;
  position: absolute;
  top: 80px;
  left: 135px;
}

.check-out .frame-18 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.check-out .frame-19 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.check-out .text-wrapper-14 {
  color: var(--text);
  position: absolute;
  top: -1px;
  left: 0;
  font-family: var(--heading-24px-bold-font-family);
  font-weight: var(--heading-24px-bold-font-weight);
  font-size: var(--heading-24px-bold-font-size);
  letter-spacing: var(--heading-24px-bold-letter-spacing);
  line-height: var(--heading-24px-bold-line-height);
  white-space: nowrap;
  font-style: var(--heading-24px-bold-font-style);
}

.check-out .text-wrapper-15 {
  position: relative;
  width: fit-content;
  font-family: var(--title-20px-medium-font-family);
  font-weight: var(--title-20px-medium-font-weight);
  color: var(--text);
  font-size: var(--title-20px-medium-font-size);
  letter-spacing: var(--title-20px-medium-letter-spacing);
  line-height: var(--title-20px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-20px-medium-font-style);
}

.check-out .text-wrapper-16 {
  position: relative;
  width: fit-content;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.check-out .send-mail {
  display: flex;
  width: 217px;
  align-items: center;
  gap: 32px;
  padding: 12px 0px 12px 16px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  border: 1.5px solid;
  border-color: var(--text);
}

.check-out .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -1.50px;
  opacity: 0.4;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.check-out .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-20px-medium-font-family);
  font-weight: var(--title-20px-medium-font-weight);
  color: var(--text);
  font-size: var(--title-20px-medium-font-size);
  letter-spacing: var(--title-20px-medium-letter-spacing);
  line-height: var(--title-20px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-20px-medium-font-style);
}

.check-out .element-bijoy-sarani {
  position: relative;
  width: 175px;
  margin-top: -1.00px;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  font-style: var(--title-16px-regular-font-style);
}

.check-out .text-wrapper-19 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.check-out .text-wrapper-20 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  opacity: 0.7;
  font-family: var(--title-12px-medium-font-family);
  font-weight: var(--title-12px-medium-font-weight);
  color: var(--text);
  font-size: var(--title-12px-medium-font-size);
  letter-spacing: var(--title-12px-medium-letter-spacing);
  line-height: var(--title-12px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-12px-medium-font-style);
}

.check-out .qr-code {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #000000;
}

.check-out .qrcode {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.check-out .frame-20 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.check-out .google-play {
  position: relative;
  width: 110px;
  height: 40px;
}

.check-out .app-store {
  position: relative;
  width: 110px;
  height: 40px;
  background-color: #000000;
}

.check-out .download-appstore {
  position: absolute;
  width: 105px;
  height: 35px;
  top: 2px;
  left: 2px;
}

.check-out .frame-21 {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.check-out .frame-22 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: absolute;
  top: 433px;
  left: 778px;
}

.check-out .frame-23 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.check-out .img-wrapper {
  position: relative;
  width: 54px;
  height: 54px;
}

.check-out .g-x {
  position: absolute;
  width: 49px;
  height: 42px;
  top: 6px;
  left: 3px;
}

.check-out .frame-24 {
  display: inline-flex;
  align-items: center;
  gap: 210px;
  position: relative;
  flex: 0 0 auto;
}

.check-out .text-wrapper-21 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.check-out .frame-25 {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.check-out .gcq-x {
  position: absolute;
  width: 50px;
  height: 39px;
  top: 8px;
  left: 2px;
}

.check-out .frame-26 {
  display: inline-flex;
  align-items: center;
  gap: 204px;
  position: relative;
  flex: 0 0 auto;
}

.check-out .frame-27 {
  display: inline-flex;
  align-items: flex-start;
  gap: 307px;
  position: relative;
  flex: 0 0 auto;
}

.check-out .under-line-2 {
  position: relative;
  width: 422px;
  height: 1px;
  opacity: 0.4;
  background-image: url(./img/image.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.check-out .frame-28 {
  display: inline-flex;
  align-items: flex-start;
  gap: 314px;
  position: relative;
  flex: 0 0 auto;
}

.check-out .under-line-3 {
  position: relative;
  width: 422px;
  height: 1px;
  opacity: 0.4;
  background-image: url(./img/line-1-2.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.check-out .frame-29 {
  display: inline-flex;
  align-items: flex-start;
  gap: 335px;
  position: relative;
  flex: 0 0 auto;
}

.check-out .frame-30 {
  display: inline-flex;
  align-items: center;
  gap: 155px;
  position: relative;
  flex: 0 0 auto;
}

.check-out .radio-button {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  border: 1.5px solid;
  border-color: var(--button);
}

.check-out .frame-31 {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.check-out .image-wrapper {
  position: relative;
  width: 42px;
  height: 28px;
}

.check-out .image {
  position: absolute;
  width: 38px;
  height: 17px;
  top: 6px;
  left: 2px;
}

.check-out .image-2 {
  position: absolute;
  width: 38px;
  height: 11px;
  top: 8px;
  left: 2px;
  object-fit: cover;
}

.check-out .image-3 {
  position: absolute;
  width: 39px;
  height: 25px;
  top: 1px;
  left: 1px;
}

.check-out .image-4 {
  position: absolute;
  width: 39px;
  height: 18px;
  top: 5px;
  left: 1px;
}

.check-out .ellipse-2 {
  position: relative;
  width: 14px;
  height: 14px;
  top: 4px;
  left: 4px;
  background-color: var(--button);
  border-radius: 7px;
}

.check-out .coupon-code {
  display: inline-flex;
  align-items: flex-end;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.check-out .frame-32 {
  position: relative;
  width: 300px;
  height: 56px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid;
  border-color: #000000;
}

.check-out .text-wrapper-22 {
  position: absolute;
  top: 15px;
  left: 24px;
  opacity: 0.5;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.check-out .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 48px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--button-2);
  border-radius: 4px;
}

.check-out .view-all-products {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-16px-medium-font-family);
  font-weight: var(--title-16px-medium-font-weight);
  color: var(--text);
  font-size: var(--title-16px-medium-font-size);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}