.element-error {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element-error .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1278px;
  position: relative;
}

.element-error .top-header {
  position: absolute;
  width: 1440px;
  height: 48px;
  top: 0;
  left: 0;
  background-color: var(--button);
}

.element-error .frame {
  display: inline-flex;
  align-items: flex-start;
  gap: 231px;
  position: relative;
  top: 12px;
  left: 445px;
}

.element-error .frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.element-error .text-wrapper {
  position: relative;
  width: 474px;
  height: 18px;
  font-family: var(--title-14px-regular-font-family);
  font-weight: var(--title-14px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-14px-regular-font-size);
  letter-spacing: var(--title-14px-regular-letter-spacing);
  line-height: var(--title-14px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-14px-regular-font-style);
}

.element-error .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--text);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  text-decoration: underline;
  white-space: nowrap;
}

.element-error .frame-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  flex: 0 0 auto;
}

.element-error .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: var(--title-14px-regular-font-family);
  font-weight: var(--title-14px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-14px-regular-font-size);
  letter-spacing: var(--title-14px-regular-letter-spacing);
  line-height: var(--title-14px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-14px-regular-font-style);
}

.element-error .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.element-error .header {
  display: inline-flex;
  align-items: center;
  gap: 130px;
  position: absolute;
  top: 88px;
  left: 135px;
}

.element-error .frame-4 {
  display: inline-flex;
  align-items: flex-start;
  gap: 160px;
  position: relative;
  flex: 0 0 auto;
}

.element-error .logo {
  position: relative;
  width: 118px;
  height: 24px;
}

.element-error .text-wrapper-4 {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: var(--heading-24px-bold-font-family);
  font-weight: var(--heading-24px-bold-font-weight);
  color: var(--text-2);
  font-size: var(--heading-24px-bold-font-size);
  letter-spacing: var(--heading-24px-bold-letter-spacing);
  line-height: var(--heading-24px-bold-line-height);
  white-space: nowrap;
  font-style: var(--heading-24px-bold-font-style);
}

.element-error .frame-5 {
  display: inline-flex;
  align-items: flex-start;
  gap: 48px;
  position: relative;
  flex: 0 0 auto;
}

.element-error .div-wrapper {
  position: relative;
  width: 48px;
  height: 24px;
}

.element-error .text-wrapper-5 {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-regular-font-size);
  text-align: center;
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.element-error .header-2 {
  position: relative;
  width: 66px;
  height: 24px;
}

.element-error .header-3 {
  position: relative;
  width: 61px;
  height: 24px;
}

.element-error .frame-6 {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.element-error .search-component-set {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px 12px 7px 20px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--secondary);
  border-radius: 4px;
}

.element-error .frame-7 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  position: relative;
  flex: 0 0 auto;
}

.element-error .p {
  position: relative;
  width: fit-content;
  opacity: 0.5;
  font-family: var(--title-12px-regular-font-family);
  font-weight: var(--title-12px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-12px-regular-font-size);
  letter-spacing: var(--title-12px-regular-letter-spacing);
  line-height: var(--title-12px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-12px-regular-font-style);
}

.element-error .frame-8 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.element-error .img-2 {
  position: relative;
  width: 32px;
  height: 32px;
}

.element-error .with-buy {
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url(./img/cart-1.svg);
  background-size: 100% 100%;
}

.element-error .line {
  position: absolute;
  width: 1440px;
  height: 1px;
  top: 142px;
  left: 0;
  background-image: url(./img/line-3.svg);
  background-size: 100% 100%;
}

.element-error .roadmap {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 222px;
  left: 135px;
}

.element-error .account {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  opacity: 0.5;
  font-family: var(--title-14px-regular-font-family);
  font-weight: var(--title-14px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-14px-regular-font-size);
  letter-spacing: var(--title-14px-regular-letter-spacing);
  line-height: var(--title-14px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-14px-regular-font-style);
}

.element-error .line-2 {
  position: relative;
  width: 6.89px;
  height: 12.2px;
  object-fit: cover;
}

.element-error .nothing {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-14px-regular-font-family);
  font-weight: var(--title-14px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-14px-regular-font-size);
  letter-spacing: var(--title-14px-regular-letter-spacing);
  line-height: var(--title-14px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-14px-regular-font-style);
}

.element-error .frame-9 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: absolute;
  top: 383px;
  left: 306px;
}

.element-error .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--heading-110px-medium-font-family);
  font-weight: var(--heading-110px-medium-font-weight);
  color: #000000;
  font-size: var(--heading-110px-medium-font-size);
  letter-spacing: var(--heading-110px-medium-letter-spacing);
  line-height: var(--heading-110px-medium-line-height);
  white-space: nowrap;
  font-style: var(--heading-110px-medium-font-style);
}

.element-error .text-wrapper-7 {
  position: relative;
  width: fit-content;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.element-error .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 48px;
  position: absolute;
  top: 642px;
  left: 572px;
  background-color: var(--button-2);
  border-radius: 4px;
}

.element-error .view-all-products {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-16px-medium-font-family);
  font-weight: var(--title-16px-medium-font-weight);
  color: var(--text);
  font-size: var(--title-16px-medium-font-size);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.element-error .footer {
  position: absolute;
  width: 1440px;
  height: 440px;
  top: 838px;
  left: 0;
  background-color: var(--button);
}

.element-error .frame-10 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 376px;
  left: 0;
  opacity: 0.4;
}

.element-error .under-line {
  position: relative;
  width: 1440px;
  height: 1px;
  margin-top: -1.00px;
  opacity: 0.5;
  background-image: url(./img/line-1.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.element-error .frame-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
  opacity: 0.6;
}

.element-error .frame-11 {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.element-error .icon-copyright {
  position: relative;
  width: 20px;
  height: 20px;
}

.element-error .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--primary);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.element-error .frame-12 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  gap: 87px;
  position: absolute;
  top: 80px;
  left: 135px;
}

.element-error .frame-13 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.element-error .frame-14 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.element-error .text-wrapper-9 {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: var(--heading-24px-bold-font-family);
  font-weight: var(--heading-24px-bold-font-weight);
  color: var(--text);
  font-size: var(--heading-24px-bold-font-size);
  letter-spacing: var(--heading-24px-bold-letter-spacing);
  line-height: var(--heading-24px-bold-line-height);
  white-space: nowrap;
  font-style: var(--heading-24px-bold-font-style);
}

.element-error .text-wrapper-10 {
  position: relative;
  width: fit-content;
  font-family: var(--title-20px-medium-font-family);
  font-weight: var(--title-20px-medium-font-weight);
  color: var(--text);
  font-size: var(--title-20px-medium-font-size);
  letter-spacing: var(--title-20px-medium-letter-spacing);
  line-height: var(--title-20px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-20px-medium-font-style);
}

.element-error .text-wrapper-11 {
  position: relative;
  width: fit-content;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.element-error .send-mail {
  display: flex;
  width: 217px;
  align-items: center;
  gap: 32px;
  padding: 12px 0px 12px 16px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  border: 1.5px solid;
  border-color: var(--text);
}

.element-error .text-wrapper-12 {
  position: relative;
  width: fit-content;
  margin-top: -1.50px;
  opacity: 0.4;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.element-error .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-20px-medium-font-family);
  font-weight: var(--title-20px-medium-font-weight);
  color: var(--text);
  font-size: var(--title-20px-medium-font-size);
  letter-spacing: var(--title-20px-medium-letter-spacing);
  line-height: var(--title-20px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-20px-medium-font-style);
}

.element-error .element-bijoy-sarani {
  position: relative;
  width: 175px;
  margin-top: -1.00px;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  font-style: var(--title-16px-regular-font-style);
}

.element-error .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.element-error .frame-15 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.element-error .text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  opacity: 0.7;
  font-family: var(--title-12px-medium-font-family);
  font-weight: var(--title-12px-medium-font-weight);
  color: var(--text);
  font-size: var(--title-12px-medium-font-size);
  letter-spacing: var(--title-12px-medium-letter-spacing);
  line-height: var(--title-12px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-12px-medium-font-style);
}

.element-error .qr-code {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #000000;
}

.element-error .qrcode {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.element-error .frame-16 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.element-error .google-play {
  position: relative;
  width: 110px;
  height: 40px;
}

.element-error .app-store {
  position: relative;
  width: 110px;
  height: 40px;
  background-color: #000000;
}

.element-error .download-appstore {
  position: absolute;
  width: 105px;
  height: 35px;
  top: 2px;
  left: 2px;
}

.element-error .frame-17 {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}