.account {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.account .div {
  background-color: var(--bg);
  width: 1440px;
  height: 1533px;
  position: relative;
}

.account .top-header {
  position: absolute;
  width: 1440px;
  height: 48px;
  top: 0;
  left: 0;
  background-color: var(--button);
}

.account .frame {
  display: inline-flex;
  align-items: flex-start;
  gap: 231px;
  position: relative;
  top: 12px;
  left: 445px;
}

.account .frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.account .text-wrapper {
  position: relative;
  width: 474px;
  height: 18px;
  font-family: var(--title-14px-regular-font-family);
  font-weight: var(--title-14px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-14px-regular-font-size);
  letter-spacing: var(--title-14px-regular-letter-spacing);
  line-height: var(--title-14px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-14px-regular-font-style);
}

.account .text-wrapper-2 {
  margin-top: -1.00px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  text-decoration: underline;
  position: relative;
  width: fit-content;
  color: var(--text);
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.account .frame-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  flex: 0 0 auto;
}

.account .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: var(--title-14px-regular-font-family);
  font-weight: var(--title-14px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-14px-regular-font-size);
  letter-spacing: var(--title-14px-regular-letter-spacing);
  line-height: var(--title-14px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-14px-regular-font-style);
}

.account .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.account .header {
  display: inline-flex;
  align-items: center;
  gap: 130px;
  position: absolute;
  top: 88px;
  left: 135px;
}

.account .frame-4 {
  display: inline-flex;
  align-items: flex-start;
  gap: 160px;
  position: relative;
  flex: 0 0 auto;
}

.account .logo {
  position: relative;
  width: 118px;
  height: 24px;
}

.account .text-wrapper-4 {
  color: var(--text-2);
  position: absolute;
  top: -1px;
  left: 0;
  font-family: var(--heading-24px-bold-font-family);
  font-weight: var(--heading-24px-bold-font-weight);
  font-size: var(--heading-24px-bold-font-size);
  letter-spacing: var(--heading-24px-bold-letter-spacing);
  line-height: var(--heading-24px-bold-line-height);
  white-space: nowrap;
  font-style: var(--heading-24px-bold-font-style);
}

.account .frame-5 {
  display: inline-flex;
  align-items: flex-start;
  gap: 48px;
  position: relative;
  flex: 0 0 auto;
}

.account .div-wrapper {
  position: relative;
  width: 48px;
  height: 24px;
}

.account .text-wrapper-5 {
  position: absolute;
  top: -1px;
  left: 0;
  color: var(--text-2);
  text-align: center;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.account .header-2 {
  position: relative;
  width: 66px;
  height: 24px;
}

.account .header-3 {
  position: relative;
  width: 61px;
  height: 24px;
}

.account .frame-6 {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.account .search-component-set {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px 12px 7px 20px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--secondary);
  border-radius: 4px;
}

.account .frame-7 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  position: relative;
  flex: 0 0 auto;
}

.account .p {
  position: relative;
  width: fit-content;
  opacity: 0.5;
  font-family: var(--title-12px-regular-font-family);
  font-weight: var(--title-12px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-12px-regular-font-size);
  letter-spacing: var(--title-12px-regular-letter-spacing);
  line-height: var(--title-12px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-12px-regular-font-style);
}

.account .frame-8 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.account .img-2 {
  position: relative;
  width: 32px;
  height: 32px;
}

.account .with-buy {
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url(./img/cart-1.svg);
  background-size: 100% 100%;
}

.account .line {
  position: absolute;
  width: 1440px;
  height: 1px;
  top: 142px;
  left: 0;
  background-image: url(./img/line-3.svg);
  background-size: 100% 100%;
}

.account .roadmap {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 222px;
  left: 135px;
}

.account .text-wrapper-6 {
  opacity: 0.5;
  font-family: var(--title-14px-regular-font-family);
  font-weight: var(--title-14px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-14px-regular-font-size);
  line-height: var(--title-14px-regular-line-height);
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  letter-spacing: var(--title-14px-regular-letter-spacing);
  white-space: nowrap;
  font-style: var(--title-14px-regular-font-style);
}

.account .line-2 {
  position: relative;
  width: 6.89px;
  height: 12.2px;
  object-fit: cover;
}

.account .nothing {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-14px-regular-font-family);
  font-weight: var(--title-14px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-14px-regular-font-size);
  letter-spacing: var(--title-14px-regular-letter-spacing);
  line-height: var(--title-14px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-14px-regular-font-style);
}

.account .welcome-md-rimel {
  position: absolute;
  top: 221px;
  left: 1166px;
  font-family: var(--title-14px-regular-font-family);
  font-weight: var(--title-14px-regular-font-weight);
  color: transparent;
  font-size: var(--title-14px-regular-font-size);
  letter-spacing: var(--title-14px-regular-letter-spacing);
  line-height: var(--title-14px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-14px-regular-font-style);
}

.account .span {
  color: #000000;
  font-family: var(--title-14px-regular-font-family);
  font-style: var(--title-14px-regular-font-style);
  font-weight: var(--title-14px-regular-font-weight);
  letter-spacing: var(--title-14px-regular-letter-spacing);
  line-height: var(--title-14px-regular-line-height);
  font-size: var(--title-14px-regular-font-size);
}

.account .text-wrapper-7 {
  color: #db4444;
  font-family: var(--title-14px-regular-font-family);
  font-style: var(--title-14px-regular-font-style);
  font-weight: var(--title-14px-regular-font-weight);
  letter-spacing: var(--title-14px-regular-letter-spacing);
  line-height: var(--title-14px-regular-line-height);
  font-size: var(--title-14px-regular-font-size);
}

.account .text-wrapper-8 {
  position: absolute;
  top: 322px;
  left: 135px;
  font-family: var(--title-16px-medium-font-family);
  font-weight: var(--title-16px-medium-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-medium-font-size);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.account .text-wrapper-9 {
  position: absolute;
  top: 474px;
  left: 135px;
  font-family: var(--title-16px-medium-font-family);
  font-weight: var(--title-16px-medium-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-medium-font-size);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.account .text-wrapper-10 {
  position: absolute;
  width: 93px;
  top: 586px;
  left: 135px;
  font-family: var(--title-16px-medium-font-family);
  font-weight: var(--title-16px-medium-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-medium-font-size);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.account .frame-9 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 363px;
  left: 170px;
}

.account .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--secondary-2);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.account .text-wrapper-12 {
  width: fit-content;
  opacity: 0.5;
  color: var(--text-2);
  white-space: nowrap;
  position: relative;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  font-style: var(--title-16px-regular-font-style);
}

.account .frame-10 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 515px;
  left: 170px;
}

.account .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  opacity: 0.5;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.account .frame-11 {
  position: absolute;
  width: 870px;
  height: 630px;
  top: 323px;
  left: 435px;
  background-color: var(--primary);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: var(--categogy-5);
}

.account .text-wrapper-14 {
  position: absolute;
  top: 39px;
  left: 80px;
  font-family: var(--title-20px-medium-font-family);
  font-weight: var(--title-20px-medium-font-weight);
  color: var(--secondary-2);
  font-size: var(--title-20px-medium-font-size);
  letter-spacing: var(--title-20px-medium-letter-spacing);
  line-height: var(--title-20px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-20px-medium-font-style);
}

.account .frame-12 {
  display: inline-flex;
  align-items: flex-start;
  gap: 50px;
  position: absolute;
  top: 84px;
  left: 80px;
}

.account .frame-13 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.account .text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.account .placebox-info {
  position: relative;
  width: 330px;
  height: 50px;
  background-color: var(--secondary);
  border-radius: 4px;
}

.account .text-wrapper-16 {
  position: absolute;
  top: 12px;
  left: 16px;
  opacity: 0.5;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.account .frame-14 {
  display: inline-flex;
  align-items: flex-start;
  gap: 50px;
  position: absolute;
  top: 190px;
  left: 80px;
}

.account .md {
  position: absolute;
  top: 12px;
  left: 16px;
  opacity: 0.5;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-2);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.account .frame-15 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 296px;
  left: 80px;
}

.account .md-wrapper {
  position: relative;
  width: 710px;
  height: 50px;
  background-color: var(--secondary);
  border-radius: 4px;
}

.account .frame-16 {
  display: inline-flex;
  align-items: center;
  gap: 32px;
  position: absolute;
  top: 534px;
  left: 487px;
}

.account .text-wrapper-17 {
  position: relative;
  width: fit-content;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.account .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 48px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--button-2);
  border-radius: 4px;
}

.account .view-all-products {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-16px-medium-font-family);
  font-weight: var(--title-16px-medium-font-weight);
  color: var(--text);
  font-size: var(--title-16px-medium-font-size);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.account .footer {
  position: absolute;
  width: 1440px;
  height: 440px;
  top: 1093px;
  left: 0;
  background-color: var(--button);
}

.account .frame-17 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 376px;
  left: 0;
  opacity: 0.4;
}

.account .under-line {
  position: relative;
  width: 1440px;
  height: 1px;
  margin-top: -1.00px;
  opacity: 0.5;
  background-image: url(./img/line-1.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.account .frame-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
  opacity: 0.6;
}

.account .frame-18 {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.account .icon-copyright {
  position: relative;
  width: 20px;
  height: 20px;
}

.account .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--primary);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.account .frame-19 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  gap: 87px;
  position: absolute;
  top: 80px;
  left: 135px;
}

.account .frame-20 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.account .frame-21 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.account .text-wrapper-19 {
  color: var(--text);
  position: absolute;
  top: -1px;
  left: 0;
  font-family: var(--heading-24px-bold-font-family);
  font-weight: var(--heading-24px-bold-font-weight);
  font-size: var(--heading-24px-bold-font-size);
  letter-spacing: var(--heading-24px-bold-letter-spacing);
  line-height: var(--heading-24px-bold-line-height);
  white-space: nowrap;
  font-style: var(--heading-24px-bold-font-style);
}

.account .text-wrapper-20 {
  position: relative;
  width: fit-content;
  font-family: var(--title-20px-medium-font-family);
  font-weight: var(--title-20px-medium-font-weight);
  color: var(--text);
  font-size: var(--title-20px-medium-font-size);
  letter-spacing: var(--title-20px-medium-letter-spacing);
  line-height: var(--title-20px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-20px-medium-font-style);
}

.account .text-wrapper-21 {
  position: relative;
  width: fit-content;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.account .send-mail {
  display: flex;
  width: 217px;
  align-items: center;
  gap: 32px;
  padding: 12px 0px 12px 16px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  border: 1.5px solid;
  border-color: var(--text);
}

.account .text-wrapper-22 {
  position: relative;
  width: fit-content;
  margin-top: -1.50px;
  opacity: 0.4;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.account .text-wrapper-23 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-20px-medium-font-family);
  font-weight: var(--title-20px-medium-font-weight);
  color: var(--text);
  font-size: var(--title-20px-medium-font-size);
  letter-spacing: var(--title-20px-medium-letter-spacing);
  line-height: var(--title-20px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-20px-medium-font-style);
}

.account .element-bijoy-sarani {
  width: 175px;
  margin-top: -1.00px;
  color: var(--text);
  position: relative;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  font-style: var(--title-16px-regular-font-style);
}

.account .text-wrapper-24 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.account .text-wrapper-25 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  opacity: 0.7;
  font-family: var(--title-12px-medium-font-family);
  font-weight: var(--title-12px-medium-font-weight);
  color: var(--text);
  font-size: var(--title-12px-medium-font-size);
  letter-spacing: var(--title-12px-medium-letter-spacing);
  line-height: var(--title-12px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-12px-medium-font-style);
}

.account .qr-code {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #000000;
}

.account .qrcode {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.account .frame-22 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.account .google-play {
  position: relative;
  width: 110px;
  height: 40px;
}

.account .app-store {
  position: relative;
  width: 110px;
  height: 40px;
  background-color: #000000;
}

.account .download-appstore {
  position: absolute;
  width: 105px;
  height: 35px;
  top: 2px;
  left: 2px;
}

.account .frame-23 {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}